.profileWrapper {
    /* Borde multicolor usando un gradiente cónico */
    background: conic-gradient(green, yellow, red, green);
    padding: 5px; /* Ajusta el grosor del borde */
    border-radius: 50%;
    display: inline-block;
  }
  
  .profileImage {
    width: 150px; /* Tamaño deseado */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; /* Centra la imagen dentro del contenedor */
    display: block;
  }

  .pepe {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0; 
    height: var(--bs-card-height); 
    color: var(--bs-body-color); 
    word-wrap: break-word; 
    background-color: var(--bs-card-bg); 
    background-clip: border-box; 
    border: var(--bs-card-border-width) solid var(--bs-card-border-color); 
    border-radius: var(--bs-card-border-radius);
  }
  .pepe-img-top {
    transition: transform 0.3s ease-in-out;
  }
  
  .pepe:hover .pepe-img-top {
    transform: scale(1.05);
  }
/* 
  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .team-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .card-image {
    position: relative;
  }
  
  .card-icons {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 1;
  }
  
  .card-inner-img {
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .card-inner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
    padding: 1rem;
  }
  
  .card-body h3 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
  }
  
  .card-body p {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }
  
  .card-inner-img img {
    transition: transform 0.3s ease-in-out;
  }
  
  .card-inner-img:hover img {
    transform: scale(1.05);
  } */