/* .header {
    width: 100%;
  }
  
  .homeHeader {
    position: absolute;
    z-index: 1000;
  } */

  /* Header.module.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
}

.homeHeader {
    /* Opcional: ajustes específicos para la página home */
    background-color: rgba(255, 255, 255, 0.3);
}

/* Cuando se scrollea, el fondo se vuelve menos transparente */
.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}

.logo {
    height: 40px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
}

